{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="check-list">Back</a>

      <h1 class="heading-large">
        DANGER
      </h1>

      <p>You are clearly a menace to society and should not be allowed to juggle.</p>

      <p>To learn how to juggle with regulation balls click <a href="https://www.wikihow.com/Juggle">here</a>.</p>

    </div>
  </div>
</main>

{% endblock %}
