{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Apply for a juggling licence
        <span class="heading-secondary"></span>
      </h1>
      <p>
        This service will allow you to apply for a juggling licence.
      </p>

      <p>
        Please answer the following questions to see if you are eligible for a juggling licence.
      </p>

      <a class="button button-start" href="start-page" role="button">Apply now</a>

  </div>
</main>

{% endblock %}
